html
  head
    title= "Windowshopper"
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/styles/index.css")
  body
    form(action="/login" method="GET")
      button(type="submit")= "Login"